<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<if	condition='property("environment").equals("production")'>
		<then>
			<property name="ROOT_LOG_LEVEL" value="INFO" />
		</then>
		<else>
			<property name="ROOT_LOG_LEVEL" value="DEBUG" />
		</else>
	</if>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{"HH:mm:ss,SSS"} - %t %-5p %c{0} - %m%n</pattern>
		</encoder>
	</appender>


	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender" >
		<encoder>
			<pattern>%d{"HH:mm:ss,SSS"} - %t %-5p %c{0} - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home}/logs/netmagic-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
	</appender>

	<logger name="com.crmmodel.*" level="DEBUG" />

	<root level="${ROOT_LOG_LEVEL}">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
